/* Write your CSS here */
.background-container {
  background-color: white;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card-container {
  text-align: center;
  height: 40vh;
  width: 500px;
  background-image: linear-gradient(#ff6e7f, #bfe9ff);
  padding: 30px;
  border-radius: 10px;
}
.button {
  padding: 10px;
  border-radius: 5px;
  background-color: white;
  border-width: 0px;
}

h1 {
  font-size: 50px;
}
p {
  font-size: 20px;
}
.p2 {
  font-size: 15px;
}
